/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


body {
    background: #f5f5f5;
    font-size: 0.8rem;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.containerList {
    margin-bottom:1rem;
    height: 600px;
    overflow-y:scroll;
}



.tbg-light {
    background:#66b2ff;
}
.tbg-dark{
    background-color: #001933;
}

form .filtreListe {
    display: none;
}

.containerList .btn {
    padding-top: 0.2px;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #ffffff;
    border-radius: 0.8rem;
    height: 25px;
    width: 80px;
}


.btn:hover {
    background:#001933;
    color: #ffffff;
    transform: scale(0.90);
    font-weight: bold;  
    border: #ffffff 1px solid; 
}


.navbar-brand,
footer h3{
    font-size: 2rem;
    font-style: italic;
    font-weight: bolder;
}
.navbar-nav a
.nav-item span {
    font-size: 1.5rem;
}

img {
    width: 100%;
    height:450px;
}

.carousel-inner{
    height: 500px;
    margin-bottom: 1rem;
}
#voir{
    display: none;
    height: 500px;
}

/* Footer  */

footer {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;  
    color: white;
    text-align: center;
    background:#004c99;
    color: #ffff;
    font-size: 0.8rem;
}
footer ul{
    list-style: none;
}
footer li a{
    color: #ffff;
    text-decoration: none;
}
footer li a:hover{
    color: #ffff;
    border-bottom: 1px #ffffff solid;
}


/* Media Queries */
@media(max-width:700px){
    .carousel-inner{
        height: 250px;
        width: 100%;
        border: 1px solid black;
    }
    .list-Filtre{
        display: none;
    }
    
}


@media(max-width: 500) {
    .list-Filtre{
        display: none;
    }
    img{
        height: 8px;
    }
    .carousel-inner{
        height: 300px;
        width: 100%;
    }
}